<% banner_img = 'https://images.pexels.com/photos/9227671/pexels-photo-9227671.jpeg' %>
<%= render 'shared/banner', h1: 'Create a new list', paragraph: 'Give it a name and you\'re good to go', image_url: banner_img %>

<div class="container">
  <%= simple_form_for [@list] do |f| %>
    <%= f.input :name, label_html: { class: 'form-label'} %>
    <%= f.submit "Create list", class: "btn btn-flat" %>
  <% end %>
</div>
