// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// From coolors.co - Magical Twilight Sky
$dark-purple: #140029; // made it darker
$light-purple: #5c008b;
$wine: #8e008b;
$light-orange: #ffa444; // made it lighter
$dark-orange: #ff6200;
