<div class="banner" style="background-image: linear-gradient(rgba(26, 16, 32, 0.8),rgba(61, 20, 20, 0.6)), url(https://images.pexels.com/photos/15357883/pexels-photo-15357883.jpeg);">
  <div class="container">
    <h1><%= local_assigns[:h1] %></h1>
    <p><%= local_assigns[:paragraph] %></p>
  </div>
</div>
