.navbar-lewagon {
  background-image: linear-gradient(to right, $dark-purple, $wine);
  p, .nav-link {
    color: $dark-orange;
  }
  .navbar-collapse {
    flex-grow: 0;
  }
}

.dropdown-menu {
  background-color: $wine;
  .dropdown-item {
    color: $light-orange;
    &:hover {
      background-color: $light-orange;
      color: $wine;
    }
  }
}
