// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/show";
@import "pages/show";
@import "components/new";

// Global style
body {
  background-image: linear-gradient(to right, $dark-purple, $wine);
}

.h2-btn {
  margin: 30px auto;
  display: flex;
  justify-content: space-between;

}

h2 {
  color: white;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 10px 0;
}

a {
  text-decoration: none;
  color: white;
}
